.homepage-svg {
  margin: auto;
  width: 800px;
  opacity: 0.9;
}

.homepage-title {
  color: white;
  opacity: 0.7;
  font-family: "Impact", "Bebas Neue", "Anton", sans-serif;
  font-size: 80px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin: auto;
  padding-left: 10%;
  margin-top: 1%;
}

.homepage-button {
  font-family: DINNextW1G, arial, georgia, sans-serif;
  font-size: medium;
  font-weight: bolder;
  border: none;
  border-radius: 15% 0% 0% 15%;
  width: 170px;
  height: 80px;
  padding: 10%;
  background-color: gray;
  opacity: 0.8;
  transition: opacity 400ms;
  border-left: 7px solid #880808;
}

.homepage-button:hover {
  opacity: 0.9;
  color: whitesmoke;
  border-left: 5px solid rgb(207, 207, 207);
}

.game,
.agents,
.weapons,
.maps {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100vw;
  height: 100vh;
  background-image: url(/valorant.jpg);
  background-size: cover;
  margin-bottom: 6px;
}

.game {
  background-image: url(/valorant.jpg);
}

.agents {
  background-image: url(/agents.jpg);
}

.weapons {
  background-image: url(/weapons.jpg);
}

.maps {
  background-image: url(/maps.webp);
}

/*media queries for mobile devices */
@media (max-width: 768px) {
  .game,
  .agents,
  .weapons,
  .maps {
    background-position: center center; /* Ensure background stays centered */
    background-size: cover; /* Make sure background images still cover the screen */
  }
}

/*media queries for very small devices */
@media (max-width: 480px) {
  .game,
  .agents,
  .weapons,
  .maps {
    background-position: center top; /* Adjust background position for smaller screens */
    background-size: cover; /* Ensure background images fill the screen */
  }
}